{% extends "base.html" %}
{% block content %}
<center>
<form action="/posts/duel/" method="post" style="float:left; width:100%;">
    
    <p>Combatants</p> </br>
    {{form.option1}}</br>
    <p>vs.</p> </br>
    {{form.option2}} </br>
    </br>
    <p>Tag</p>
    {{form.tags}}</br>
    
    <p>Time Limit</p> </br>
    <textarea id="time_limit" name="time_limit"></textarea></br>
    <p>Submitted By</p> </br>
    {{form.submitter}}
        <input type="submit" value="Throw Down the Gauntlet!"/>
</form>
</center>
{% endblock %}
