{% extends "base.html" %}
{% block content %}
<center>
<h1>Welcome back, old chap!</h1>
<p>
Jolly good! You've made it to Duel of Tweets, where two parties enter and battle for the ultimate prize -- the admiration of the masses. Here's what even a simpleton like you can do to take part:
</p>
</center>
<ul>
    <li><b>Watch a Duel</b>: Back in the good days, gentlemen could fight for their honor with any variety of 
    hand-held weapon, alas, today we must use words less than 140 characters.  Follow @DuelOfTweets to find out 
    as soon as a Duel is issued.
    <li><b>Cast Your Vote</b>: Use Twitter to show support for someone engaged in an active Duel.  Hello, what's 
    this? You can simply @reply to <a href="#">@DuelOfTweets</a> with your vote and the Duel's hashtag (e.g. #Duel001)
    using your favorite Twitter client. Smashing!
    <li><b>Suggest the Next Duel</b>: Help throw down the gauntlet and decide who must defend their honor next.  
    No need for a glove-slap, just @reply to <a href="#">@DuelOfTweets</a> with the following format 
    "SUGGEST [X] vs [Y]".
    <li><b>Celebrate the victory or wallow in defeat</b>You will receive a message informing you of the Duel's outcome
    once it has been completed.  If you were on the winning side, you may then sport a monocle.
</ul>

<h2>
{% endblock %}
